#wrapper {
	width: 620px;
	height: auto;
	margin: 0 auto;
}

#title {
	color: black;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

.block a {
	color: black;
	font-size: 15px;
	text-align: center;
	display: block;
}

.assessment {
	width: 150px;
	height: 30px;
	color: black;
	font-size: 15px;
	text-align: center;
	border: 1px solid black;
	display: inline-block;
	padding: 10px 0 0 0;
}

.block {
	width: 618px;
	height: auto;
	border: 1px solid black;
	margin: 10px 0 0 0;
	display: none;
}

.test {
	color: red;
}